.jumbotron{
    background-color: yellow;
}

.btn{
    color: gray;
    background-color: black;
    
}

footer{
    background-color: burlywood;
}
.footer{
    justify-content: space-between;
}



.card-hotel{
    flex: 1 150px;
    padding: 2px 10px 2px 10px;
    justify-content: space-between;
}
.btn-reserve{
    width: 100%;
}